<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/billSell.{{iconSetType}}" width="24" height="24">
                <strong>تعديل بيانات فاتورة بيع رقم</strong>&nbsp;
                <span class="label label-info">{{billSell.code}}</span>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group row" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group row">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">

                        <a href="#panel-1-billSell" class="mdl-tabs__tab col-xs-4 col-sm-4 col-md-4 col-lg-4 is-active">
                            <span>المعلومات الأساسية</span>
                        </a>

                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1-billSell">

                        <div class="form-group row">

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="customerName" class="control-label">اسم العميل</label>
                                <input id="customerName"
                                       type="text"
                                       class="form-control"
                                       placeholder="اجباري"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="billSell.customerName">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="customerMobile" class="control-label">رقم جوال العميل</label>
                                <input id="customerMobile"
                                       type="text"
                                       class="form-control"
                                       placeholder="اجباري"
                                       required="required"
                                       disable-validation-message=""
                                       ng-model="billSell.customerMobile">
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="writtenDate" class="control-label">تاريخ كتابة الفاتورة</label>
                                <div dir="ltr" class="input-group" id="writtenDate" ng-init="calendar1='G'">
                                    <span class="input-group-addon">
                                        <a href="" ng-click="calendar1==='G'?calendar1='H':calendar1='G'">
                                            <span ng-show="calendar1==='G'">ميلادي</span>
                                            <span ng-show="calendar1==='H'">هجري</span>
                                        </a>
                                    </span>
                                    <div style="position: relative">
                                        <input style="position: absolute" ng-show="calendar1==='H'"
                                               type="text"
                                               class="form-control is-calendarPicker animated-div"
                                               ng-model="billSell.writtenDate"
                                               calendarType="ummalqura"
                                               language="ar"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="true"
                                               pickerClass="myPicker"
                                               kdatepicker/>
                                        <input style="position: absolute" ng-show="calendar1==='G'"
                                               type="text"
                                               class="form-control is-calendarPicker animated-div"
                                               ng-model="billSell.writtenDate"
                                               calendarType="gregorian"
                                               language="ar-EG"
                                               dateFormat="yyyy/mm/dd"
                                               showOnFocus="true"
                                               pickerClass="myPicker"
                                               kdatepicker/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="discount" class="control-label">الخصم</label>
                                <div dir="ltr" class="input-group" id="discount">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           required="required"
                                           disable-validation-message=""
                                           ng-change="findRemainPrice()"
                                           placeholder="اجباري"
                                           ng-model="billSell.discount">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="transferFees" class="control-label">رسوم الشحن</label>
                                <div dir="ltr" class="input-group" id="transferFees">
                                    <span class="input-group-addon">ريال سعودي</span>
                                    <input dir="rtl"
                                           type="number"
                                           min="0"
                                           class="form-control"
                                           required="required"
                                           disable-validation-message=""
                                           placeholder="اجباري"
                                           ng-model="billSell.transferFees">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="condition" class="control-label">
                                    <span>وضع الفاتورة</span>
                                </label>
                                <select id="condition"
                                        placeholder="اجباري"
                                        class="form-control"
                                        required="required"
                                        disable-validation-message=""
                                        ng-model="billSell.condition">
                                    <option value="Draft">مسودة</option>
                                    <option value="Sent">أرسلت</option>
                                    <option value="Viewed">شوهدت</option>
                                    <option value="Done">مدفوعة</option>
                                    <option value="Canceled">ملغاة</option>
                                </select>
                            </div>

                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="note" class="control-label">ملاحظات</label>
                                <textarea id="note"
                                          type="text"
                                          msd-elastic="\n"
                                          class="form-control"
                                          placeholder="اختياري"
                                          ng-model="billSell.note">
                                </textarea>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>