<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-body">

        <div class="row">
            <ul dir="rtl" class="breadcrumb">
                <li>
                    <a href="" ng-click="openStateMenu()">
                        <span>الرئيسية</span>
                    </a>
                </li>
                <li>
                    <span>دفعات الشراء(سندات الصرف)</span>
                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button id="supplierPayment-menu-lower-right" style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>العمليات</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="supplierPayment-menu-lower-right">

                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="searchSupplierPayments({})">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24"
                                 height="24">
                            <span>تحديث</span>
                        </span>
                    </li>

                    <li class="mdl-menu__item--full-bleed-divider"></li>

                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="openSupplierPaymentsFilter()">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24"
                                 height="24">
                            <span>البحث المتقدم</span>
                        </span>
                    </li>

                    <li class="mdl-menu__item mdl-list__item"
                        ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_PAYMENT_CREATE'])"
                        ng-click="newSupplierPayment()">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24"
                                 height="24">
                            <span>سند صرف</span>
                        </span>
                    </li>

                </ul>
            </div>

        </div>

    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-danger">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="openSupplierPaymentsFilter()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تحديث البيانات">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                    </a>
                </li>
                <li>
                    <a href=""
                       ng-click="newSupplierPayment()"
                       ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_PAYMENT_CREATE'])"
                       tooltip-append-to-body="true"
                       uib-tooltip="سند صرف">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>دفعات الشراء</h3>
                <span>المبالغ المدفوعة والمسددة للموردين والتي تعتبر سندات صرف</span>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row"
                 ng-if="pageSupplierPayment.totalElements > 0">

                <div class="pull-right btn-toolbar">

                    <div class="btn-group" data-toggle="buttons">

                        <button uib-tooltip="السابق"
                                tooltip-append-to-body="true"
                                ng-disabled="pageSupplierPayment.first"
                                type="button"
                                ng-click="selectPrevSupplierPaymentsPage()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                            <i class="material-icons md-36">keyboard_arrow_right</i>
                        </button>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-left">
                            <input dir="rtl"
                                   type="text"
                                   readonly
                                   class="form-control"
                                   style="text-align: center!important;"
                                   ng-model="pageSupplierPayment.currentPageString">
                        </div>

                        <button uib-tooltip="التالي"
                                tooltip-append-to-body="true"
                                ng-disabled="pageSupplierPayment.last"
                                type="button"
                                ng-click="selectNextSupplierPaymentsPage()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                            <i class="material-icons md-36">keyboard_arrow_left</i>
                        </button>

                        <button uib-tooltip="طباعة"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="printToCart('printSupplierPaymentTable', 'سجل الدفعات')"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect pull-right">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/print.{{iconSetType}}" width="24" height="24">
                        </button>

                    </div>

                </div>

                <div class="pull-left">

                    <input type="text"
                           class="form-control"
                           placeholder="بحث سريع"
                           ng-change="refreshGUI()"
                           ng-model="supplierPayments.searchText">

                </div>

            </div>

            <div class="form-group row" id="printSupplierPaymentTable">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>

                            <th>
                                <span>#</span>
                            </th>

                            <th>
                                <span>رقم السند</span>
                            </th>

                            <th>
                                <span>المورد</span>
                            </th>

                            <th>
                                <span>تاريخ السداد</span>
                            </th>

                            <th>
                                <span>البيان</span>
                            </th>

                            <th>
                                <span>المبلغ</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="supplierPayment in supplierPayments | filter:supplierPayments.searchText">
                            <td>{{$index+1}}</td>
                            <td>{{supplierPayment.code}}</td>
                            <td>{{supplierPayment.supplier.contact.shortName}}</td>
                            <td>
                                <span ng-if="dateType==='H'" ng-class="{'no-print': dateType==='G'}">{{supplierPayment.date | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                <span ng-if="dateType==='G'" ng-class="{'no-print': dateType==='H'}">{{supplierPayment.date | date: 'yyyy-MM-dd'}}</span>
                                <br/>
                                <span class="label label-success">{{supplierPayment.date | date: 'hh:mm a'}}</span>
                            </td>
                            <td>{{supplierPayment.note}}</td>
                            <td>{{supplierPayment.amount | currency:'':2}}</td>
                        </tr>
                        <tr class="blank_row no-print" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-if="!supplierPayments || supplierPayments.length ==0">
                            <td colspan="6">
                                <p>
                                    <span>لا توجد دفعات حتى الآن </span>
                                </p>
                            </td>
                        </tr>
                        <tr ng-if="supplierPayments.length > 0">
                            <td class="info" colspan="5">
                                <span class="pull-left">المجموع</span>
                            </td>
                            <td colspan="1">{{supplierPayments | sumByKey:'amount' | currency:' SAR ':2}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>

</div>