<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="panel panel-body">

        <div class="row">
            <ul dir="rtl" class="breadcrumb">
                <li>
                    <a href="" ng-click="openStateMenu()">
                        <span>الرئيسية</span>
                    </a>
                </li>
                <li>
                    <span>السلع</span>
                </li>
            </ul>
        </div>

        <div class="row">

            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 pull-right">
                <button id="Product-menu-lower-right" style="width: 100%;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    <span>العمليات</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    for="Product-menu-lower-right">

                    <li class="mdl-menu__item mdl-list__item"
                        ng-click="openProductsFilter()">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24"
                                 height="24">
                            <span>البحث المتقدم</span>
                        </span>
                    </li>

                    <li class="mdl-menu__item--full-bleed-divider"></li>

                    <li class="mdl-menu__item mdl-list__item"
                        ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])"
                        ng-click="newParent()">
                            <span class="mdl-list__item-primary-content">
                                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/product.{{iconSetType}}" width="24"
                                     height="24">
                               <span>تصنيف رئيسي جديد...</span>
                            </span>
                    </li>

                    <li class="mdl-menu__item mdl-list__item"
                        ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])"
                        ng-click="newProduct()">
                            <span class="mdl-list__item-primary-content">
                                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/product.{{iconSetType}}" width="24"
                                     height="24">
                               <span>تصنيف فرعي جديد...</span>
                            </span>
                    </li>

                    <li class="mdl-menu__item mdl-list__item"
                        ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])"
                        ng-click="newProductBatch()">
                            <span class="mdl-list__item-primary-content">
                                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/excel.{{iconSetType}}" width="24"
                                     height="24">
                               <span>استيراد اصناف من ملف أكسل...</span>
                            </span>
                    </li>

                </ul>
            </div>

        </div>

    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

    <div class="panel panel-info">
        <div class="panel-heading">
            <ul class="panel-controls pull-left" style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="fetchParents()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تحديث">
                        <img class="material-icons mdl-list__item-icon"
                             ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}"
                             width="24"
                             height="24">
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>التصنيفات الرئيسية</h3>
            </div>
        </div>
        <div class="panel-body panel-body-scroll">

            <div class="form-group row">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr ng-repeat="parent in parents"
                            context-menu="rowMenuParent">
                            <td>

                                <li class="mdl-list__item mdl-list__item--two-line" style="padding: unset;cursor: pointer">
                                    <span class="mdl-list__item-primary-content">
                                        <span class="material-icons mdl-list__item-avatar"
                                              style="background-color: unset;background-image: url('/ui/img/{{iconSet}}/product.{{iconSetType}}')"></span>
                                        <div ng-bind-html="parent.name | highlight: $select.search"></div>
                                        <span class="mdl-list__item-sub-title">
                                            <span>رقم التصنيف / </span>
                                            {{parent.code}}
                                        </span>
                                        <span class="mdl-list__item-sub-title">
                                            <span>عدد السلع / </span>
                                            {{parent.childs.length}}
                                        </span>
                                    </span>
                                </li>

                            </td>
                        </tr>
                        <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-if="!parents || parents.length ==0">
                            <td>
                                <p>
                                    <span>لا نتائج</span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

    <div class="panel panel-success">
        <div class="panel-heading">
            <ul class="panel-controls pull-left"
                style="margin-top: 2px;">
                <li>
                    <a href=""
                       ng-click="searchProducts({})"
                       tooltip-append-to-body="true"
                       uib-tooltip="تحديث">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-click="openProductsFilter()"
                       tooltip-append-to-body="true"
                       uib-tooltip="بحث">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/search.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])"
                       ng-click="newParent()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تصنيف رئيسي">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])"
                       ng-click="newProduct()"
                       tooltip-append-to-body="true"
                       uib-tooltip="تصنيف فرعي">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
                    </a>
                    <a href=""
                       ng-if="contains(me.team.authorities, ['ROLE_PRODUCT_CREATE'])"
                       ng-click="newProductBatch()"
                       tooltip-append-to-body="true"
                       uib-tooltip="استيراد اصناف من ملف أكسل">
                        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/excel.{{iconSetType}}" width="24" height="24">
                    </a>
                </li>
            </ul>
            <div class="panel-title-box pull-right">
                <h3>السلع والتصنيفات الفرعية</h3>
                <span>عرض التصنيفات الفرعية من السلع مع إجمالي المبيعات والمشتريات لكل صنف</span>
            </div>
        </div>
        <div class="panel-body">

            <div class="form-group row" ng-if="pageProduct.totalElements > 0">

                <div class="pull-right btn-toolbar">

                    <div class="btn-group" data-toggle="buttons">

                        <button uib-tooltip="السابق"
                                tooltip-append-to-body="true"
                                ng-disabled="pageProduct.first"
                                type="button"
                                ng-click="selectPrevProductsPage()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                            <i class="material-icons md-36">keyboard_arrow_right</i>
                        </button>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-left">
                            <input dir="rtl"
                                   type="text"
                                   readonly
                                   class="form-control"
                                   style="text-align: center!important;"
                                   ng-model="pageProduct.currentPageString">
                        </div>

                        <button uib-tooltip="التالي"
                                tooltip-append-to-body="true"
                                ng-disabled="pageProduct.last"
                                type="button"
                                ng-click="selectNextProductsPage()"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right">
                            <i class="material-icons md-36">keyboard_arrow_left</i>
                        </button>

                        <button uib-tooltip="طباعة"
                                tooltip-append-to-body="true"
                                type="button"
                                ng-click="printToCart('printProductTable', 'سجل السلع')"
                                class="mdl-button mdl-js-button mdl-js-ripple-effect pull-right">
                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/print.{{iconSetType}}" width="24" height="24">
                        </button>

                    </div>

                </div>

                <div class="pull-left">

                    <input type="text"
                           class="form-control"
                           placeholder="بحث سريع في بيانات الصفحة الواحدة"
                           ng-change="refreshGUI()"
                           ng-model="products.searchText">

                </div>

            </div>

            <div class="form-group row panel-body-scroll" id="printProductTable">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>

                            <th>
                                <span>#</span>
                            </th>

                            <th>
                                <span>كود السلعة</span>
                            </th>

                            <th>
                                <span>السلعة</span>
                            </th>

                            <th>
                                <span>التصنيف</span>
                            </th>

                            <th>
                                <span>كمية المشتريات</span>
                            </th>

                            <th>
                                <span>كمية المبيعات</span>
                            </th>

                            <th>
                                <span>الرصيد</span>
                            </th>

                            <th>
                                <span>بواسطة</span>
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="product in products | filter:products.searchText"
                            ng-dblclick="ModalProvider.openProductDetailsModel(product)"
                            context-menu="rowMenuProduct">
                            <td>{{$index+1}}</td>
                            <td>{{product.code}}</td>
                            <td>
                                <a href="" ng-click="ModalProvider.openProductDetailsModel(product)">
                                    {{product.name}}
                                </a>
                            </td>
                            <td>{{product.parent.name}}</td>
                            <td>{{product.purchasedQuantity}}</td>
                            <td>{{product.soledQuantity}}</td>
                            <td
                                ng-class="{'success': product.remainQuantity > 0, 'danger': product.remainQuantity <=0}">
                                <span>{{product.remainQuantity}}</span>
                            </td>
                            <td>{{product.person.contact.shortName}}</td>
                        </tr>
                        <tr class="blank_row no-print" style="height: 10px !important; background-color: #FFFFFF;"
                            ng-if="!products || products.length ==0">
                            <td colspan="8">
                                <p>
                                    <span>لا توجد سلع حتى الآن </span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


        </div>
    </div>

</div>