<div class="form-group row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title-box pull-right">
                    <h3>تقارير عامة</h3>
                </div>
            </div>

            <div class="panel-body panel-body-300-scroll">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openBanksDataReportModel()">
                                        <span>تقرير بالحسابات البنكية والغير بنكية (النقدية)</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openCustomersInfoDataReportModel()">
                                        <span>تقرير بيانات العملاء</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openCustomersBalanceDataReportModel()">
                                        <span>تقرير أرصدة العملاء</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openCustomerStatementReportModel()">
                                        <span>كشف حساب عميل</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openSuppliersInfoDataReportModel()">
                                        <span>تقرير بيانات الموردين</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openSuppliersBalanceDataReportModel()">
                                        <span>تقرير أرصدة الموردين</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openSupplierStatementReportModel()">
                                        <span>كشف حساب مورد</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openProductStocksReportModel()">
                                        <span>تقرير أرصدة السلع</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openProductPricesReportModel()">
                                        <span>قائمة أسعار المنتجات</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title-box pull-right">
                    <h3>تقارير المشتريات</h3>
                </div>
            </div>

            <div class="panel-body panel-body-300-scroll">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openOrderPurchasesDetailsReportModel()">
                                        <span>كشف مفصل لأوامر الشراء</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openOrderPurchasesInfoReportModel()">
                                        <span>ملخص لأوامر الشراء</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openPurchasesBySupplierReportModel()">
                                        <span>تقرير المشتريات حسب المورد</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openPurchasesByProductReportModel()">
                                        <span>تقرير المشتريات حسب المنتج</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openPurchasesByPersonReportModel()">
                                        <span>تقرير المشتريات حسب المستخدم</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openOutcomesByCustomerReportModel()">
                                        <span>تقرير المصروفات حسب المورد</span>
                                        <span class="label label-danger">تحت التطوير</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openOutcomesByPersonReportModel()">
                                        <span>تقرير المصروفات حسب المستخدم</span>
                                        <span class="label label-danger">تحت التطوير</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

        <div class="panel panel-info">

            <div class="panel-heading">
                <div class="panel-title-box pull-right">
                    <h3>تقارير المبيعات</h3>
                </div>
            </div>

            <div class="panel-body panel-body-300-scroll">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openOrderSellsDetailsReportModel()">
                                        <span>كشف مفصل لأوامر البيع</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openOrderSellsInfoReportModel()">
                                        <span>ملخص لأوامر البيع</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openSalesByCustomerReportModel()">
                                        <span>تقرير المبيعات حسب الزبون</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openSalesByProductReportModel()">
                                        <span>تقرير المبيعات حسب المنتج</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openSalesByPersonReportModel()">
                                        <span>تقرير المبيعات حسب المستخدم</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openIncomesByCustomerReportModel()">
                                        <span>تقرير الايرادات حسب الزبون</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" ng-click="ModalProvider.openIncomesByPersonReportModel()">
                                        <span>تقرير الايرادات حسب المستخدم</span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>