<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header mdl-color--primary mdl-navigation__link-active">
        <a class="pull-left" href="" ng-click="cancel()">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </a>
        <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/supplier.{{iconSetType}}" width="24" height="24">
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body modal-body-free" id="modal-body">

        <div class="row">

            <div class="form-group row" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group row">

                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

                    <div class="mdl-tabs__tab-bar">
                        <a href="#panel-1-supplier" class="mdl-tabs__tab col-xs-6 col-sm-6 col-md-6 col-lg-6 is-active">
                            <span>بيانات الموردين</span>
                        </a>
                    </div>

                    <div class="mdl-tabs__panel is-active" id="panel-1-supplier">

                        <div class="form-group row">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>

                                        <th>
                                            <span>#</span>
                                        </th>

                                        <th>
                                            <span>الاسم</span>
                                        </th>

                                        <th>
                                            <span>الجنسية</span>
                                        </th>

                                        <th>
                                            <span>السجل المدني</span>
                                        </th>

                                        <th>
                                            <span>الجوال</span>
                                        </th>

                                        <th>
                                            <span>الهاتف</span>
                                        </th>

                                        <th>
                                            <span>تاريخ التسجيل</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="supplier in suppliers">
                                        <td>{{$index+1}}</td>
                                        <td>{{supplier.contact.name}}</td>
                                        <td>{{supplier.contact.nationality}}</td>
                                        <td>{{supplier.contact.identityNumber}}</td>
                                        <td>{{supplier.contact.mobile}}</td>
                                        <td>{{supplier.contact.phone}}</td>
                                        <td>
                                            <span ng-show="dateType==='H'" ng-class="{'no-print': dateType==='G'}">{{supplier.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                            <span ng-show="dateType==='G'" ng-class="{'no-print': dateType==='H'}">{{supplier.registerDate | date: 'yyyy-MM-dd'}}</span>
                                            <span class="label label-info no-print">{{supplier.registerDate | date: 'hh:mm a'}}</span>
                                        </td>
                                    </tr>
                                    <tr class="blank_row no-print" style="height: 10px !important; background-color: #FFFFFF;"
                                        ng-if="!suppliers || suppliers.length == 0">
                                        <td colspan="7">
                                            <p>
                                                <span>قم بتحميل ملف الأكسل الذي يحتوي على بيانات الموردين من هنا </span>
                                                <input hidden id="excelUploader" type="file" import-sheet-js="" ng-model="buffer.excelSuppliers" multiple="false"  />
                                                <a href="" ng-click="uploadExcelFile()">اضغط هنا</a>
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>



                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="clear()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}" width="24" height="24">
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
            </button>
        </div>

    </div>

</form>