<div class="modal-header mdl-color--primary mdl-navigation__link-active">
    <a class="pull-left" href="" ng-click="cancel()">
        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
    </a>
    <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/offer.{{iconSetType}}" width="24" height="24">
                <span>تفاصيل عرض البيع رقم / </span>&nbsp;
                <span class="label label-info">{{offer.code}}</span>
            </span>
    </h3>
</div>

<div class="modal-body modal-body-free" id="modal-body">

    <div class="form-group row">

        <button uib-tooltip="تحديث"
                tooltip-append-to-body="true"
                type="button"
                ng-click="refreshOffer()"
                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24" height="24">
        </button>

        <button uib-tooltip="طباعة"
                tooltip-append-to-body="true"
                type="button"
                ng-click="printOffer()"
                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/print.{{iconSetType}}" width="24" height="24">
        </button>

        <button uib-tooltip="ارسال"
                tooltip-append-to-body="true"
                type="button"
                ng-click="sendOffer()"
                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/send.{{iconSetType}}" width="24" height="24">
        </button>

        <button uib-tooltip="تعديل البيانات"
                tooltip-append-to-body="true"
                type="button"
                ng-if="contains(me.team.authorities, ['ROLE_OFFER_UPDATE'])"
                ng-click="ModalProvider.openOfferUpdateModel(offer)"
                class="mdl-button mdl-js-button mdl-js-ripple-effect">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/edit.{{iconSetType}}" width="24" height="24">
        </button>

        <button uib-tooltip="اضافة سلعة"
                tooltip-append-to-body="true"
                type="button"
                ng-if="contains(me.team.authorities, ['ROLE_OFFER_PRODUCT_CREATE'])"
                ng-click="newOfferProduct()"
                class="mdl-button mdl-js-button mdl-js-ripple-effect">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/product.{{iconSetType}}" width="24" height="24">
        </button>

        <button uib-tooltip="تحويل لفاتورة بيع"
                tooltip-append-to-body="true"
                type="button"
                ng-if="contains(me.team.authorities, ['ROLE_BILL_SELL_CREATE'])"
                ng-click="convertOfferToBill()"
                class="mdl-button mdl-js-button mdl-js-ripple-effect">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/billSell.{{iconSetType}}" width="24" height="24">
        </button>

    </div>

    <div class="form-group row">

        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

            <div class="mdl-tabs__tab-bar">
                <a href="#panel-1-offer-details"
                   class="mdl-tabs__tab col-xs-3 col-sm-3 col-md-3 col-lg-3 is-active">
                    <span>البيانات الاساسية</span>
                </a>
                <a href="#panel-2-offer-details"
                   ng-click="refreshOfferProducts()"
                   class="mdl-tabs__tab col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span>السلع</span>
                </a>
            </div>

            <div class="mdl-tabs__panel is-active" id="panel-1-offer-details">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>رقم العرض</td>
                                <td>{{offer.code}}</td>
                            </tr>
                            <tr>
                                <td>تاريخ كتابة العرض</td>
                                <td>
                                    <span ng-show="dateType==='H'">{{offer.writtenDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                    <span ng-show="dateType==='G'">{{offer.writtenDate | date: 'yyyy-MM-dd'}}</span>
                                    <span class="label label-info">{{offer.writtenDate | date: 'hh:mm a'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>العميل</td>
                                <td>
                                    <span>{{offer.customer.contact.shortName}}</span>
                                    <a href=""
                                       ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_UPDATE'])"
                                       ng-click="ModalProvider.openCustomerUpdateModel(offer.customer)">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>الخصم</td>
                                <td>{{offer.discount | currency:'':2}}</td>
                            </tr>
                            <tr>
                                <td>رسوم الشحن</td>
                                <td>{{offer.transferFees | currency:'':2}}</td>
                            </tr>
                            <tr>
                                <td>الوضع</td>
                                <td>{{offer.conditionInArabic}}</td>
                            </tr>
                            <tr>
                                <td>المستندات</td>
                                <td>
                                    <div class="form-group row">

                                        <input id="uploader"
                                               style="display: none"
                                               type="file"
                                               onchange="angular.element(this).scope().files=this.files;angular.element(this).scope().uploadAll()"
                                               multiple/>

                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered striped highlight">
                                                    <thead>
                                                    <tr>

                                                        <th>#</th>

                                                        <th>
                                                            <span>اسم الملف</span>
                                                        </th>

                                                        <th>
                                                            <span>حجم الملف</span>
                                                        </th>

                                                        <th>
                                                            <span>العمليات</span>
                                                        </th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="offerAttach in offer.offerAttaches">
                                                        <td>{{$index+1}}</td>
                                                        <td class="long-td">
                                                            <a href="" ng-href="{{offerAttach.attach.link ? offerAttach.attach.link : ''}}" target="_blank">
                                                                <i class="fa fa-files-o"></i>
                                                                {{offerAttach.attach.name}}
                                                            </a>
                                                        </td>
                                                        <td>{{offerAttach.attach.size/1024/1024|number:2}} MB</td>
                                                        <td>
                                                            <div class="row">
                                                                <button uib-tooltip="إضافة ملفات"
                                                                        tooltip-append-to-body="true"
                                                                        type="button"
                                                                        ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE'])"
                                                                        ng-click="uploadFiles()"
                                                                        class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                                                    <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/upload.{{iconSetType}}"
                                                                         width="24" height="24">
                                                                </button>
                                                                <button uib-tooltip="حذف"
                                                                        tooltip-append-to-body="true"
                                                                        type="button"
                                                                        ng-if="contains(me.team.authorities, ['ROLE_OFFER_DELETE'])"
                                                                        ng-click="deleteOfferAttach(offerAttach)"
                                                                        class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                                    <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}"
                                                                         width="24" height="24">
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="blank_row"
                                                        style="height: 10px !important; background-color: #FFFFFF;"
                                                        ng-show="!offer.offerAttaches || offer.offerAttaches.length ==0">
                                                        <td colspan="4" ng-if="contains(me.team.authorities, ['ROLE_OFFER_CREATE'])">
                                                            <span>يمكنك اضافة الملفات بالضغط</span>
                                                            <a href="" ng-click="uploadFiles()">هنا</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>مدخل العرض</td>
                                <td>
                                        <span class="label label-info">
                                            {{offer.person.contact.shortName}}
                                        </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div class="mdl-tabs__panel" id="panel-2-offer-details">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>

                                <th>
                                    <span>السلعة</span>
                                </th>

                                <th>
                                    <span>الكمية</span>
                                </th>

                                <th>
                                    <span>سعر البيع/الوحدة</span>
                                    <br/>
                                    <span class="label label-success">(القيمة المضافة/الوحدة)</span>
                                </th>

                                <th>
                                    <span>إجمالي البيع</span>
                                </th>

                                <th>
                                    <span>العمليات</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="offerProduct in offer.offerProducts">
                                <td>{{offerProduct.product.name}}</td>
                                <td>{{offerProduct.quantity}}</td>
                                <td>
                                    <span>{{offerProduct.unitSellPrice | currency:'':2}}</span>
                                    <br/>
                                    <span class="label label-success">{{offerProduct.unitVat | currency:'':2}}</span>
                                </td>
                                <td>{{offerProduct.totalSell=((offerProduct.quantity*offerProduct.unitSellPrice) + (offerProduct.quantity*offerProduct.unitVat)) | currency:'':2}}</td>
                                <td>
                                    <div class="row">
                                        <button uib-tooltip="إضافة سلعة"
                                                tooltip-append-to-body="true"
                                                type="button"
                                                ng-if="contains(me.team.authorities, ['ROLE_OFFER_PRODUCT_CREATE'])"
                                                ng-click="newOfferProduct()"
                                                class="mdl-button mdl-js-button mdl-js-ripple-effect">
                                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/add.{{iconSetType}}"
                                                 width="24" height="24">
                                        </button>
                                        <button uib-tooltip="حذف"
                                                tooltip-append-to-body="true"
                                                type="button"
                                                ng-if="contains(me.team.authorities, ['ROLE_OFFER_PRODUCT_DELETE'])"
                                                ng-click="deleteOfferProduct(offerProduct)"
                                                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/delete.{{iconSetType}}"
                                                 width="24" height="24">
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!offer.offerProducts || offer.offerProducts.length ==0">
                                <td colspan="5">
                                    <span>لا توجد سلع حتى الآن لهذا العرض </span>
                                </td>
                            </tr>
                            <tr ng-if="offer.customer.id && offer.offerProducts.length > 0">
                                <td colspan="3" class="text-left warning">
                                    <span class="pull-left">المجموع</span>
                                </td>
                                <td colspan="1">{{offer.capitalSell = (offer.offerProducts | sumByKey:'totalSell') | currency:'':2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>

        </div>

    </div>

</div>

<div class="modal-footer">

    <div class="row">
        <button uib-tooltip="خروج"
                tooltip-append-to-body="true"
                type="button"
                ng-click="cancel()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </button>
    </div>

</div>