<div class="modal-header mdl-color--primary mdl-navigation__link-active">
    <a class="pull-left" href="" ng-click="cancel()">
        <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
    </a>
    <h3 class="panel-title mdl-list__item pull-right mdl-color-text--white">
            <span class="mdl-list__item-primary-content">
                <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/product.{{iconSetType}}" width="24" height="24">
                <span>تفاصيل الصنف رقم / </span>&nbsp;
                <span class="label label-info">{{product.code}}</span>
            </span>
    </h3>
</div>

<div class="modal-body modal-body-free" id="modal-body">

    <div class="form-group row">

        <button uib-tooltip="تحديث البيانات"
                tooltip-append-to-body="true"
                type="button"
                ng-click="refreshProduct()"
                class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/refresh.{{iconSetType}}" width="24" height="24">
        </button>

    </div>

    <div class="form-group row">

        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">

            <div class="mdl-tabs__tab-bar">
                <a href="#panel-1-product-details"
                   class="mdl-tabs__tab col-xs-3 col-sm-3 col-md-3 col-lg-3 is-active">
                    <span>البيانات الاساسية</span>
                </a>
                <a href="#panel-2-product-details"
                   ng-click="refreshBillPurchaseProducts()"
                   class="mdl-tabs__tab col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span>حركات الشراء</span>
                </a>
                <a href="#panel-3-product-details"
                   ng-click="refreshBillSellProducts()"
                   class="mdl-tabs__tab col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span>حركات البيع</span>
                </a>
            </div>

            <div class="mdl-tabs__panel is-active" id="panel-1-product-details">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>رقم الصنف</td>
                                <td>{{product.code}}</td>
                            </tr>
                            <tr>
                                <td>اسم الصنف</td>
                                <td>{{product.name}}</td>
                            </tr>
                            <tr>
                                <td>تاريخ تسجيل الصنف</td>
                                <td>
                                    <span ng-show="dateType==='H'">{{product.registerDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                    <span ng-show="dateType==='G'">{{product.registerDate | date: 'yyyy-MM-dd'}}</span>
                                    <span class="label label-info">{{product.registerDate | date: 'hh:mm a'}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>التصنيف</td>
                                <td>{{product.parent.name}}</td>
                            </tr>
                            <tr>
                                <td>الأسعار</td>
                                <td>{{product.purchasePrices}}</td>
                            </tr>
                            <tr>
                                <td>مدخل الصنف</td>
                                <td>
                                    <span class="label label-info">
                                        {{product.person.contact.shortName}}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div class="mdl-tabs__panel" id="panel-2-product-details">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>

                                <th>
                                    <span>المورد</span>
                                </th>

                                <th>
                                    <span>رقم فاتورة الشراء</span>
                                </th>

                                <th>
                                    <span>الكمية</span>
                                </th>

                                <th>
                                    <span>سعر الشراء/الوحدة</span>
                                    <br/>
                                    <span class="label label-success">(القيمة المضافة/الوحدة)</span>
                                </th>

                                <th>
                                    <span>إجمالي الشراء</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="billPurchaseProduct in product.billPurchaseProducts">
                                <td>
                                    <a href="" ng-click="ModalProvider.openSupplierDetailsModel(billPurchaseProduct.billPurchase.supplier)">
                                        <span> {{billPurchaseProduct.billPurchase.supplier.contact.shortName}}</span>
                                    </a>
                                    <a href=""
                                       ng-if="contains(me.team.authorities, ['ROLE_SUPPLIER_UPDATE'])"
                                       ng-click="ModalProvider.openSupplierUpdateModel(billPurchaseProduct.billPurchase.supplier)">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="ModalProvider.openBillPurchaseDetailsModel(billPurchaseProduct.billPurchase)">
                                        <span>{{billPurchaseProduct.billPurchase.code}}</span>
                                    </a>
                                </td>
                                <td>{{billPurchaseProduct.quantity}}</td>
                                <td>
                                    <span>{{billPurchaseProduct.unitPurchasePrice | currency:'':2}}</span>
                                    <br/>
                                    <span class="label label-success">{{billPurchaseProduct.unitVat | currency:'':2}}</span>
                                </td>
                                <td>{{billPurchaseProduct.totalPurchasePrice | currency:'':2}}</td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!product.billPurchaseProducts || product.billPurchaseProducts.length ==0">
                                <td colspan="5">
                                    <span>لا توجد حركات شراء</span>
                                </td>
                            </tr>
                            <tr ng-if="product.billPurchaseProducts.length > 0">
                                <td colspan="4" class="text-left warning">
                                    <span class="pull-left">المجموع</span>
                                </td>
                                <td colspan="1">{{product.billPurchaseProducts | sumByKey:'totalPurchasePrice' | currency:'':2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>

            <div class="mdl-tabs__panel" id="panel-3-product-details">

                <div class="form-group row">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>

                                <th>
                                    <span>العميل</span>
                                </th>

                                <th>
                                    <span>رقم فاتورة البيع</span>
                                </th>

                                <th>
                                    <span>الكمية</span>
                                </th>

                                <th>
                                    <span>سعر البيع/الوحدة</span>
                                    <br/>
                                    <span class="label label-success">(القيمة المضافة/الوحدة)</span>
                                </th>

                                <th>
                                    <span>إجمالي البيع</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="billSellProduct in product.billSellProducts">
                                <td>
                                    <a href="" ng-click="ModalProvider.openCustomerDetailsModel(billSellProduct.billSell.customer)">
                                        <span>{{billSellProduct.billSell.customer.contact.shortName}}</span>
                                    </a>
                                    <a href=""
                                       ng-if="contains(me.team.authorities, ['ROLE_CUSTOMER_UPDATE'])"
                                       ng-click="ModalProvider.openCustomerUpdateModel(billSellProduct.billSell.customer)">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="ModalProvider.openBillSellDetailsModel(billSellProduct.billSell)">
                                        <span>{{billSellProduct.billSell.code}}</span>
                                    </a>
                                </td>
                                <td>{{billSellProduct.quantity}}</td>
                                <td>
                                    <span>{{billSellProduct.unitSellPrice | currency:'':2}}</span>
                                    <br/>
                                    <span class="label label-success">{{billSellProduct.unitVat | currency:'':2}}</span>
                                </td>
                                <td>{{billSellProduct.totalPrice | currency:'':2}}</td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!product.billSellProducts || product.billSellProducts.length ==0">
                                <td colspan="5">
                                    <span>لا توجد حركات بيع</span>
                                </td>
                            </tr>
                            <tr ng-if="product.billSellProducts.length > 0">
                                <td colspan="4" class="text-left warning">
                                    <span class="pull-left">المجموع</span>
                                </td>
                                <td colspan="1">{{product.billSellProducts | sumByKey:'totalPrice' | currency:'':2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>

        </div>

    </div>

</div>

<div class="modal-footer">

    <div class="row">
        <button uib-tooltip="خروج"
                tooltip-append-to-body="true"
                type="button"
                ng-click="cancel()"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left">
            <img class="material-icons mdl-list__item-icon" ng-src="/ui/img/{{iconSet}}/close.{{iconSetType}}" width="24" height="24">
        </button>
    </div>

</div>